<HTML>
  <BODY>
    <div class='container'>
    <div class='row'>
      <div class="jumbotron">
        <h2>Welcome to HR solution</h2>
        <p>
          List of the employees:
        </p>
      </div>
    </div>
    <div class='row'>
    <div class="col-sm-8 col-sm-offset-2">
    <table class="table table-hover" >
      <thead>
        <th>Name</th>
        <th>Dept</th>
        <th>Blood Group</th>
      </thead>
      <% @employees.each do |emp| %>
      <tr>
        <th><%= emp.name %></th>
        <th><%= emp.dept %></th>
        <th><%= emp.blood_group %></th>
        <th><%= link_to "View Profile", emp %></th>
      </tr>
      <% end %>
    </table>
    <h1><%= button_to 'Add new Employee', new_employee_path, :method => :get , :class => "btn btn-primary" %></h1>
    </div>
    </div>
    </div>
  </BODY>
</HTML>
