<html>
  <body>
    <%= form_for :employee, url: employees_path do |emp| %>
    <p>
      <%= emp.label :name %>
      <%= emp.text_field :name %>
    </p>
    <p>
      <%= emp.label :dept %>
      <%= emp.text_field :dept %>
    </p>
    <p>
      <%= emp.label :designation %>
      <%= emp.text_field :designation %>
    </p>
    <p>
      <%= emp.label :DOJ %>
      <%= emp.text_field :doj %>
    </p>
    <p>
      <%= emp.label :Address %>
      <%= emp.text_field :address %>
    </p>
    <p>
      <%= emp.label :blood_group %>
      <%= emp.text_field :blood_group %>
    </p>
    <p>
      <%= emp.label :dob %>
      <%= emp.text_field :dob %>
    </p>
    <p>
      <%= emp.label :total_leaves %>
      <%= emp.text_field :total_leaves %>
    </p>
    <p>
      <%= submit_tag('Save') %>
    </p>
    <% end %>
  </body>
</html>
