<html>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <table class="table table-hover">
            <tr>
              <td><b>Name:</b></td>
              <td><%= @employee.name%></td>
            </tr>
            <tr>
              <td><b>Dept:</b> </td>
              <td><%= @employee.dept%>  </td>
            <tr>
              <td><b>Designation:</b> </td>
              <td><%= @employee.designation %>  </td>
            <tr>
              <td><b>Date of Joining:</b> </td>
              <td><%= @employee.doj %>  </td>
            <tr>
              <td><b>Address:</b> </td>
              <td><%= @employee.address %>  </td>
            <tr>
              <td><b>Blood Group:</b></td>
              <td> <%= @employee.blood_group %>  </td>
            <tr>
              <td><b>Total Leaves:</b></td>
              <td> <%= @employee.total_leaves %>  </td>
            <tr>
              <td><b>Leaves taken:</b></td>
              <td> <%= @leaves_taken %>  </td>
            <tr>
              <td><b>Leaves left:</b></td>
              <td> <%= @employee.total_leaves - @leaves_taken unless @employee.total_leaves.nil?  %>  </td>
            <%= link_to 'Add a Leave',"#{params[:id]}/leaves/new" %>

            <%= link_to "Show #{@employee.name}'s Leaves", "#{params[:id]}/leaves/show" %>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
