<html>
  <head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
      $(function() {
        $( "#leave_start_date" ).datepicker({dateFormat: 'dd-mm-yy' });
        $( "#leave_end_date" ).datepicker({dateFormat: 'dd-mm-yy' });
      });
    </script>
  </head>
  <body>
  <div class="container">
    <%= form_for :leave do |l| %>
    <p>
      <%= l.label :start_date %>
      <%= l.text_field :start_date %>
    </p>
    <p>
      <%= l.label :end_date %>
      <%= l.text_field :end_date %>
    </p>
    <p>
      <%= l.label :title %>
      <%= l.text_field :title %>
    </p>
    <p>
      <%= l.label :description %>
      <%= l.text_field :description %>
    </p>
    <p>
      <%= submit_tag('Save') %>
    </p>
    <% end %>
  </div>
  <body>
<html>
