<html>
  <head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
      $(function() {
        $( "#leave_start_date" ).datepicker({dateFormat: 'dd-mm-yy' });
        $( "#leave_end_date" ).datepicker({dateFormat: 'dd-mm-yy' });
      });
    </script>
  </head>
  <body>
  <div class="container">
    <div class="jumbotron">
      <h4>Enter the details of the Leave:</h4>
    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <%= form_for :leave, :html =>{class: "form-horizontal"} do |l| %>
        <div class="form-group">
          <%= l.label :start_date, class: "control-label col-sm-2"  %>
          <div class="col-sm-4">
            <%= l.text_field :start_date, class: "form-control", placeholder: "Enter Start date"  %>
          </div>
          <%= l.label :end_date, class: "control-label col-sm-2"  %>
          <div class="col-sm-4">
            <%= l.text_field :end_date, class: "form-control", placeholder: "Enter End Date"  %>
          </div>
        </div>
        <div class="form-group">
          <%= l.label :title, class: "control-label col-sm-2"  %>
          <div class="col-sm-10">
            <%= l.text_field :title, class: "form-control", placeholder: "Enter Title"  %>
          </div>
        </div>
        <div class="form-group">
          <%= l.label :description, class: "control-label col-sm-2"  %>
          <div class="col-sm-10">
            <%= l.text_area :description, class: "form-control", placeholder: "Enter a Short Description"  %>
          </div>
        </div>
        <div class="form-group">
          <%= submit_tag 'Save', :class => 'col-sm-3 btn btn-success' %>
        </div>
        <% end %>
      </div><!--column ends-->
    </div>  <!--row ends-->
  </div>    <!--container ends-->
  </body>
</html>
