<html>
  <body>
    <%= form_for :leave do |l| %>
    <p>
      <%= l.label :start_date %>
      <%= l.text_field :start_date %>
    </p>
    <p>
      <%= l.label :end_date %>
      <%= l.text_field :end_date %>
    </p>
    <p>
      <%= l.label :title %>
      <%= l.text_field :title %>
    </p>
    <p>
      <%= l.label :description %>
      <%= l.text_field :description %>
    </p>
    <p>
      <%= submit_tag('Save') %>
    </p>
    <% end %>
  <body>
<html>
